<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/motion-ui.css')}}">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

</head>

<body>

	<div class="top-bar">
		<div class="top-bar-right">
			<ul class="menu">
				<li><a href="/" class="white">Home</a></li>
				<li><a href="/favorites" class="white">Favorites</a></li>
				<li><a href="/search" class="white">Search</a></li>
				<li><a href="/login" class="white">Login</a></li>
				<li><a href="/logout" class="white">Logout</a></li>
				
			</ul>
		</div>
		<div class="top-bar-left white">
			{% block stuff %}

				{% if current_user.is_authenticated %}

					Logged in as {{current_user.Email}} 

				{% endif %}


			{% endblock %}
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<div class="panel">
				{% block body %}{% endblock %}
			</div>

		</div>
	</div>

<script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation.js') }}"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
