<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/spotipy.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/motion-ui.css')}}">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

</head>

<body style="background: linear-gradient(to bottom, #56FC69, #56FC69 50%, #46BD53 50%, #46BD53); background-size: 100% 5%; font-family: 'Roboto Condensed', sans-serif;">

	<div class="top-bar" style="background-color: #090A0A;" >
		<div class="top-bar-right" style="background-color: #090A0A">
			<ul class="dropdown menu" data-dropdown-menu style="background-color: #090A0A;">
				<li><a href="/" class="white">Home</a></li>
				<li><a href="/setlist" class="white">Setlister</a></li>
				<li><a href="/edit" class="white">Playlist Editor</a></li>
				<li><a href="/uploads" class="white">Playlist Upload</a></li>

				
				
				<li>
					
					<a href="#" style="color:#FFFFFF;">My Profile</a>

					<ul class="menu" style="background-color: #090A0A;">
					
					<li><a href="/favorites" class="white">Favorites</a></li>	
					<li><a href="/login" class="white">Login</a></li>
					<li><a href="/logout" class="white">Logout</a></li>

					</ul>



				</li>
				
			
				
			</ul>
		</div>
		<div class="top-bar-left white">
			{% block stuff %}

				


			{% endblock %}
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<div class="panel" style="padding-bottom: 10px; padding-top:10px;">
				{% block body %}{% endblock %}
			</div>

		</div>
	</div>

<script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/foundation.js') }}"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>
