{% extends "base.html" %}
{% block title %}Upload New File{% endblock %}

{% block body %}

	<div class="row" style="text-align: center;">
	<div class="small-12 columns">

	<h1>Upload New File</h1>

	
	<form action="" style="display:inline-block; padding:50px;" method=post enctype="multipart/form-data">

		<input type=text name = "playlist" style="padding-bottom: 20px;" placeholder="Enter Playlist Name"></input>

		<input type=file name = file style="padding-bottom: 20px;"></input>

		<div>
			<button class="postfix search-button" style="width:auto; height:38px;" type="submit">Search</button>
		</div>

	</form>

	</div>
	</div>

{% endblock %}