{% extends "base.html" %}
{% block title %} Event Saver App {% endblock %}


{% block body %}
{% if logged_out %}
    <h1 style="padding-bottom:0px; color: red;">You have successfully logged out</h1>
    <a href="/login"><button class="launch-button">Login</button></a>

{% else %}

{% if current_user.is_authenticated %}
	
    <h1 style="padding-bottom:0px;">Welcome Back {{current_user.Username}}!</h1>
	<p style="padding:0px; margin-bottom:0px;">Here are some of the most popular events in {{current_user.State}}</p>

{% else %}
	
	<h1 style="padding-bottom:0px;">Welcome!</h1>
	<p style="padding:0px; margin-bottom:0px;">Register or sign in below to add events to your favorites</p>
	<a href="/login"><button class="launch-button">Login</button></a>
	<a href="/register"><button class="launch-button">Register</button></a>

{% endif %}



<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit style=" padding-top: 25px; display:block; margin: 0 auto;">
  <ul class="orbit-container" style="width:600px; height:600px; display: block; margin: 0 auto; border-style: solid; border-width: 5px; border-color: #00688B"> 
    <button class="orbit-previous" style="float:left;"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next" style="float:right;"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>

    {% for n in range(total) %}
        <li class="orbit-slide">    
    	   <img class="orbit-image" src={{image_list[n]}} alt="Event">
    	   <figcaption class="orbit-caption">

    		  <div>{{title_list[n]}}</div> 
    		  <ul>
    			 <li style="display:inline;">{{venue_list[n]}}</li>
    			 <li style="display:inline;">|</li>
    			 <li style="display:inline;">{{location_list[n]}}</li>
    			 <li style="display:inline;">|</li>
    			 <li style="display:inline;">{{date_list[n]}}</li>
    			 <li style="display:inline;">|</li>
    			 <li style="display:inline;">{{time_list[n]}}</li>
    		  </ul>

                {% if current_user.is_authenticated %}
                    <button class="launch-button" style="height:5px; width:auto; padding-top: 0px; margin-top: 0px;"><a href="/events/{{id_list[n]}}" style="color:white;font-size:15px;">View in Search</a></button>
    	        {% endif %}
    	   </figcaption>
  
        </li>
    {% endfor %}
    
  </ul>

  <nav class="orbit-bullets" style="margin-top:20px;">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    
    {% for m in range(total-1) %}

        <button data-slide={{m}}><span class="show-for-sr">Slide Details</span></button>
   	
    {% endfor %}


  </nav>
</div>

{% endif %}
{% endblock %}	




	
