{% extends "base.html" %}
{% block title %} Event Saver App {% endblock %}

{% block stuff %} 

{% if current_user.is_authenticated %}

Logged in as {{current_user.Email}} 

{% endif %}

{% endblock %}




{% block body %}
{% if current_user.is_authenticated %}
	<h1 style="padding-bottom:0px;">Welcome Back {{current_user.Email}}!</h1>
	<p style="padding:0px; margin-bottom:0px;">View your favorites or search for new events below</p>
	<a href="/favorites" style="margin-top:0px;padding-top: 0px;"><button class="launch-button">Your Favorites</button></a>
	<a href="/search"><button class="launch-button">Search</button></a>

{% else %}
	
	<h1>Event Saver App</h1>
	<p>This web app allows users to search for events and add them to their list of favorites!</p>
	<a href="/login"><button class="launch-button">Login</button></a>
	<a href="/register"><button class="launch-button">Register</button></a>

{% endif %}



<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit style=" padding-top: 25px; display:block; margin: 0 auto;">
  <ul class="orbit-container" style="width:500px; height:500px; display: block; margin: 0 auto;"> 
    <button class="orbit-previous" style="float:left;"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next" style="float:right;"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>

    {% for n in range(total) %}
    <li class="orbit-slide">

 
    	<img class="orbit-image" src={{image_list[n]}} alt="Event">
    	<figcaption class="orbit-caption">{{title_list[n]}}</figcaption>

  
    </li>
    {% endfor %}
    
  </ul>
  <nav class="orbit-bullets" style="margin-top:20px;">
    <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
    
    {% for m in range(total-1) %} 
    <button data-slide={{m}}><span class="show-for-sr">Slide Details</span></button>
   	{% endfor %}


  </nav>
</div>

{% endblock %}	




	
