{% extends "base.html" %}

{% block title %}Spotitry{% endblock %}

{% block body %}

<div class = "row" style="text-align:center;">
<div class = "small-12 columns">

<h1>Welcome to Spotitry!</h1>


<ul style="list-style-type: none; display:inline-block;">
	

	<li style="border-style: solid; padding: 5px; margin-top:20px; margin-bottom:20px;">

		<h2><a href="/setlist">Setlister:</a></h2>
		<p>Create a Spotify playlist from any Setlist.fm setlist. Just paste the Setlist.fm URL of your favorite setlist</p>
		


	</li>

	<li style="border-style: solid; padding: 5px; margin-bottom:20px;">
		
		<h2><a href="/edit">Playlist Editor:</a></h2>
		<p>Delete or save songs from playlists while listening</p>
		

	</li>

	<li style="border-style: solid; padding:5px;">
		
		<h2><a href="/uploads">Playlist Upload:</a></h2>
		<p>Upload an excel sheet with song and artist information to create a Spotify playlist</p>
		

	</li>



</ul>

{% endblock %}