{% extends "base.html" %}
{% block title %}Login{% endblock %}


{% block body %}


{% if not current_user.is_authenticated %}

<h1>Login</h1>

{% if failed %}

	<div class="redlines">Username/Password Incorrect. Try Again</div>

{% endif %}


<form action= "" method="POST">

	{{form.csrf_token}}

	<div style="margin: 0 auto; width:50%;">

		{{form.Email.label}}
		{{form.Email}}

	</div>

	<div style="margin: 0 auto; width: 50%;">

		{{form.Password.label}}
		{{form.Password}}

	</div>

	<button type="submit" class="launch-button">Submit</button>

</form>

{% else %}

<h1>Already logged in with {{current_user.Email}}</h1>
<p>Logout below to sign in with a different email</p>
<a href="/logout"><button class="launch-button">Logout</button></a>

{% endif %}
{% endblock %}