{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block body %}

<h2 class="blue roberto">Register</h2>

<form action="" method="POST">

	{{form.csrf_token}}

	<div style="margin: 0 auto; width:50%;">

		{{ form.Email.label }}
		{{ form.Email }}

	</div>

	<div style="margin: 0 auto; width:50%;">

		{{ form.Username.label}}
		{{form.Username}}
	</div>

	<div style="margin: 0 auto; width:50%;">

		{{ form.Password.label}}
		{{form.Password}}
	</div>

	<div style="margin: 0 auto; width:50%;">

		{{ form.State.label}}
		{{form.State}}
	</div>



	<button type="submit" class="launch-button">Register</button>
</form>

{% endblock %}