{% extends "base.html" %}
{% block title %} Search Results {% endblock %}


{% block body %}

	<h1>{{artist}}'s Last Setlist</h1>

	<ul style=  "list-style-type: none; margin:0 auto;">
	
	{% if setlist %}
		{% set count = 1 %}
		{% for n in range(setlist|length) %}
			{% if setlist[n][0][:6] != "Encore" %}
				<li style= "padding-left:0px;">{{count}}. {{setlist[n][0]}}{%if setlist[n][1]!=""%} ({{setlist[n][1]}} Cover){% endif %}</li>
				
				{% set count = count + 1 %}
			{% else %}
				<li><strong>{{setlist[n][0]}}</strong></li>
			{% endif %}
		{% endfor %}

		<li><a href="/spotify" class="button" style="background-color: #00688B; color:white; margin-top: 10px;">Create Spotify Setlist</a></li>
	{% else %}
		<li>No Songs Found</li>

	{% endif %}

	</ul>







{% endblock %}