{% extends "base.html" %}
{% block title %}Spotify{% endblock %}

{% block body %}

	<h1>Spotify</h1>
	<h2>Successfully Added:</h2>
	<ul style="list-style-type: none;">
	{% set song_count = 1 %}
	{% for song in songs %}

		<li>{{song_count}}. {{song}}</li>
		{% set song_count = song_count + 1 %}

	{% endfor %}
	</ul>
	
	<h2>Errors:</h2>
	<ul style="list-style-type: none;">
	{% set error_count = 1 %}
	{% for error in errors %}

		<li>{{error_count}}. {{error}}</li>
		{% set error_count = error_count + 1 %}

	{% endfor %}
	</ul>

{% endblock %}